<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" href="../../public/css/admin_main.css">
    <link rel="stylesheet" href="../../public/css/bootstrap/css/bootstrap.css">

</head>
<body>
<nav id="nav">
    <li><a href="/admin">首页</a></li>
    <li><a href="/admin/user">用户管理</a>
    </li>
    <li><a href="/admin/content">内容管理</a></li>
    <li><a href="/admin/category">分类管理</a></li>
    <li><a href="http://localhost:8082">退出</a></li>
</nav>
<div>
   {% block main%}
    {%endblock%}
</div>

</body>
</html>