body{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
#nav{

    display: inline-block;
    background-color: lightsteelblue;
    height: 80px;
    width: 100%;
    border: 1px solid lightsteelblue;
    border-radius: 2%;

}
#nav li{
    display: inline-block;
    margin-right: 40px;
    font-size: 30px;
    color: #46b9d8;
    text-align: center;
    margin-top: 20px;
}
li :hover{
    background-color: blue;
}
li:last-child{
    float: right;
}
#tab{
    width: 100%;
    border: 2px solid lightsteelblue;

}

 tr:nth-child(odd){
    background-color:#CCFF99;
    cursor:hand;
}
tr:nth-child(even){
    background-color: #CCFFCC	;
}
#tab tr:first-child{
    background-color: coral;
}
#tab td{
    border: 1px solid black;
    height: 40px;
    text-align: center;
    font-size: 25px;
    color: 	black;
}
 tr:hover{
    background-color: #46b9d8;
}
 #tab tr a{
     color: blue;
 }
 #tab tr a:hover{
     cursor: pointer;
     text-decoration: none;
 }
 #showList {
     float: right;
     margin-top: 20px;
     margin-right: 10px;
     padding: 8px;
     text-align: center;
 }

 #showList a{
     color: cornflowerblue;
     font-size: 20px;
     display: inline-block;
     margin-right: 10px;
 }
 #showList p{
     font-size: 16px;
 }
#showMessage{
    width: 400px;
    height: 160px;
    position: absolute;
    top:0;
    left:40%;
    background: aliceblue;

}
#showMessage span{
    display: inline-block;
    font-size: 24px;
    margin-top: 30px;
    color: cornflowerblue;
}
.allButton{
    margin-top: 20px;
}
.allButton button{
    margin-left: 60px;
    width: 80px;
}
.allButton button:nth-child(odd){
    background: cornflowerblue;
}
